body {
    margin: 0px;
    background-color: grey;
    color: white;
}

.container {
    width: 400px;
    height: 580px;
    margin: auto;
    border: 5px solid black;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgb(75, 2, 2);
}

.calculatordisplay {
    width: 100%;
    border: 1px solid black;
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

.calculatordisplay > h1 {
    font-weight: 100;
    overflow-x: auto;
}
.calculatordisplay > h1 ::-webkit-scrollbar
{
    display: none;
}



/* *****using grid*** */
.calculatorbuttons {
    display: grid;
    /* grid-template-columns: repeat(4,1fr);//4 means no of columns to create & fr is fraction */
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.calculatorbuttons>button {
    font-size: 40px;
    font-family: sans-serif;
    padding: 10px;
    border-radius: 15px;
    margin-top: 13px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid black;
    cursor: pointer;
}